/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: sans-serif;
}

nav,
ul {
  display: flex;
  gap: 2rem;
  padding: 1rem;
}
main {
  background-color: rgb(197, 238, 215);
  padding: 2rem;
}

button {
  all: unset;
  padding: 0.3rem 0.6rem;
  background-color: hotpink;
  border-radius: 5px;
  text-align: center;
  font-weight: 600;
}
